header.header.header--main
	//- .header__slider
		.main-slider
			ul.main-slider__list
				li.main-slider__item
					//- .main-slider__text
						.container
							.main-slider__wrap
								span.main-slider__light Отопление будущего
								span.main-slider__medium - уже здесь
								a.main-slider__link(href="#")
									span Узнать подробнее
									i.fa.fa-arrow-right
					img.main-slider__img(src="app/img/slider/slider-1.jpg" alt="slider")
				li.main-slider__item
					img.main-slider__img(src="app/img/slider/slider-1.jpg" alt="slider")
				li.main-slider__item
					img.main-slider__img(src="app/img/slider/slider-1.jpg" alt="slider")
	.container
		.header__top
			.header__logo
				a.header__link(href="/")
					img.header__img(src="app/img/logo.png" alt="logo")
			.header__nav
				nav.menu.menu--main
					ul.menu__list
						each val in [ 'О компании', 'Каталог отопления', 'Доставка и оплата','Сотрудничество' ]
							li.menu__item
								a.menu__link(href="#")= val
			.header__phone.phone.phone--main
				a.phone__link(href="tel:+78002220102") 8 800 222 01 02
		.header__bottom
			.header__basket
				a.basket.basket--main(href="#")
					i.fa.fa-shopping-cart
					span.basket__text Корзина
					span.basket__count [5]
			.header__call.call.call--main
				a.call__link(href="#")
					i.fa.fa-phone
					| Заказать звонок