- var index = [1,2,3,4]
- var icons = ['wheel', 'list', 'computer', 'discount'];
- var names = ['Технологии SUNRAY', 'Каталог обогревателей', 'Сравнение видов отопления', 'АКЦИИ!']

.catalog
	.container
		.catalog__list
			- for (i=0;i<icons.length;i++) {
					.catalog__item(class="catalog__item--" + index[i])
						+icon('' + icons[i])
						span.catalog__name= names[i]
						a.catalog__more(href="#") Подробнее
			- }