.basket {
	position: relative;
	z-index: 2;
	font-size: 16px;
	font-family: $mediumFont;
	display: flex;
	padding: 0 15px;
	cursor: pointer;
	.fa {
		color: $accentColor;
		margin-right: 9px;
	}
	&:hover {
		text-decoration: none;
		.basket__text {
			border-bottom: 2px dotted transparent;
		}
	}
}

.basket__text {
	display: block;
	margin-right: 8px;
	color: white;
	padding-bottom: 3px;
	border-bottom: 2px dotted white;
	@extend .trs;
}

.basket__count {
	color: $accentColor;
}
