.menu__list {
	display: flex;
}

.menu__link {
	display: block;
	padding: 10px 19px;
	color: white;
	@extend .trs;
	&:hover {
		font-family: $mediumFont;
		color: $accentColor;
	}
	@media (max-width: 1200px) {
		padding: 5px 12px;
	}
}