.phone__link {
	font-family: $mediumFont;
	font-size: 28px;
	@media (max-width: 1200px) {
		font-size: 20px;
	}
}

.phone--main {
	.phone__link {
		color: white;
		@extend .trs;
		&:hover {
			color: $accentColor;
		}
	}
}