// Переменные

$mainFont: "GothaPro-Regular", Arial, sans-serif;
$boldFont: "GothaPro-Bold", Arial, sans-serif;
$mediumFont: "GothaPro-Medium", Arial, sans-serif;
$lightFont: "GothaPro-Light", Arial, sans-serif;


// Цвета

$accentColor: #f00b52;