.card {
	padding-top: 25px;
	@media (max-width: 960px) {
		padding-top: 15px;
	}
}

.card__breadcrumbs {
	margin-bottom: 30px;
	@media (max-width: 960px) {
		margin-bottom: 20px;
	}
}

.card__wrap {
	display: flex;
	justify-content: space-between;
	margin-bottom: 45px;
}

.card__show {
	width: calc(50% - 15px);
	.slick-arrow {
		font-size: 0;
		background: none;
		&:after {
			content:"";
			display: block;
			width: 25px;
			height: 45px;
			background: url(../img/arrow-right--small.png) no-repeat center center;
			background-size: cover;
			cursor: pointer;
		}
	}
}

.card__show--discont {
	position: relative;
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 10px;
		left: 10px;
		background: url(../img/discount.png) center center no-repeat;
		width: 80px;
		height: 80px;
	}
}

.card__display,{
	position: relative;
	margin-bottom: 15px;
	.card__img {
		width: 573px;
		height: 393px;
		img {
			width: 100%;
			height: 393px;
		}
	}
	.slick-arrow {
		position: absolute;
		@include center('y');
		@extend .trs;
		z-index: 1;
		&.slick-prev {
			left: 10px;
			&:hover {
				top: 44%;
				transform: scale(1.2);
			}
		}
		&.slick-next {
			right: 10px;
			top: 45%;
			transform: rotate(180deg);
			&:hover {
				transform: scale(1.2) rotate(180deg);
			}
		}
	}
}

.card__more {
	position: relative;
	.slick-arrow {
		position: absolute;
		@include center('y');
		@extend .trs;
		z-index: 1;
		&:after {
			width: 15px;
			height: 25px;
		}
		&.slick-prev {
			left: 10px;
			&:hover {
				top: 35%;
				transform: scale(1.2);
			}
		}
		&.slick-next {
			right: 20px;
			top: 33%;
			transform: rotate(180deg);
			&:hover {
				transform: scale(1.2) rotate(180deg);
			}
		}
	}
}

.card__info {
	width: calc(50% - 15px);
}

.card__name {
	font-size: 36px;
	font-family: $boldFont;
	display: block;
	margin-bottom: 35px;
	text-transform: uppercase;
}

.card__price-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 45px;
}

.card__cost--old {
	margin-bottom: 15px;
	display: block;
}

.card__cost {
	font-size: 30px;
	font-family: $boldFont;
	color: $accentColor
}

.economy__text {
	display: block;
	margin-bottom: 15px;
}

.economy__sum {
	background: $accentColor;
	font-size: 16px;
	font-family: $boldFont;
	color: white;
	padding: 5px 15px;
	border-radius: 8px;
}

.card__basket-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.card__btn {
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 48px;
	font-size: 16px;
	margin: 0;
	.icon {
		width: 19px;
		height: 19px;
		fill: white;
		margin-right: 15px;
	}
}

.card__item {
	display: flex;
	font-size: 16px;
	margin-bottom: 15px;
	&:before {
		content: "•";
		display: block;
		color: $accentColor;
		margin-right: 8px;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.card__shot {
	margin-bottom: 50px;
}
.card__shot-wrap {
	padding: 25px 0;
	border-top: 2px dotted #bcbcbc;
	border-bottom: 2px dotted #bcbcbc;
	display: flex;
	justify-content: space-around;
}

.card__shot-item {
	font-size: 36px;
	font-family: $blackFont;
	color: $accentColor;
	text-transform: uppercase;
	text-shadow: 0px 2px 10px $accentColor;
}