.header {
	position: relative;
	background: #262626;
}

.header__slider {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 26px;
	margin-bottom: 15px;
	position: relative;
	z-index: 5;
}

.header__logo {
	width: 208px;
	@media (max-width: 1200px) {
		width: 150px;
	}
}

.header__bottom {
	display: flex;
	justify-content: flex-end;
	position: relative;
}

.header__basket {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: row;
}
.header__phone {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}